In [1]:
import numpy as np

In [2]:
#First 20 countries with employment data
countries = np.array([
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
])

#Employment data in 2007 for those 20 countries
employment = np.array([
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
])

In [3]:
# For each practice exercise, predict the outcome using comments before running the code
# to check your predictions

In [4]:
# Accessing elements

print countries[0]
# 'Afghanistan'
print countries[3]
# 'Angola'

Afghanistan
Angola

In [5]:
#Slicing

print countries[0:3]
# 'Afghanistan', 'Albania', 'Algeria'
print countries[:3]
# same output as above
print countries[17:]
# 'Bhutan', 'Bolivia', 'Bosnia and Herz.'
print countries[:]
# print the whole array

['Afghanistan' 'Albania' 'Algeria']
['Afghanistan' 'Albania' 'Algeria']
['Bhutan' 'Bolivia' 'Bosnia and Herzegovina']
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina']

In [6]:
# Element types

print countries.dtype
# string
print employment.dtype
# float
print np.array([0,1,2,3]).dtype
# int
print np.array([1.0, 1.5, 2.0, 2.5]).dtype
# float
print np.array([True, False, True]).dtype
# bool(ean)
print np.array(['AL', 'AK', 'AZ', 'AR', 'CA']).dtype
# string

|S22
float64
int64
float64
bool
|S2

In [7]:
# when numpy reads out string types, it also tells the length of the longest string. S22 (longest is 22 characters)
# the float and int64 refers to how the numbers are stored, 64 bits

In [8]:
# Looping

for country in countries:
    print 'Examining country {}'.format(country)
# prints every country

for i in range(len(countries)):
    country = countries[i]
    country_employment = employment[i]
    print 'Country {} has employment {}'.format(country, 
            country_employment)
# pulls from both arrays and prints every country in order w/ the employment level

Examining country Afghanistan
Examining country Albania
Examining country Algeria
Examining country Angola
Examining country Argentina
Examining country Armenia
Examining country Australia
Examining country Austria
Examining country Azerbaijan
Examining country Bahamas
Examining country Bahrain
Examining country Bangladesh
Examining country Barbados
Examining country Belarus
Examining country Belgium
Examining country Belize
Examining country Benin
Examining country Bhutan
Examining country Bolivia
Examining country Bosnia and Herzegovina
Country Afghanistan has employment 55.70000076
Country Albania has employment 51.40000153
Country Algeria has employment 50.5
Country Angola has employment 75.69999695
Country Argentina has employment 58.40000153
Country Armenia has employment 40.09999847
Country Australia has employment 61.5
Country Austria has employment 57.09999847
Country Azerbaijan has employment 60.90000153
Country Bahamas has employment 66.59999847
Country Bahrain has employment 60.40000153
Country Bangladesh has employment 68.09999847
Country Barbados has employment 66.90000153
Country Belarus has employment 53.40000153
Country Belgium has employment 48.59999847
Country Belize has employment 56.79999924
Country Benin has employment 71.59999847
Country Bhutan has employment 58.40000153
Country Bolivia has employment 70.40000153
Country Bosnia and Herzegovina has employment 41.20000076

In [9]:
# Pay attention to string interpolation here! the .format is diff than what has
# been used so far.

In [10]:
# NumPy functions

print employment.mean()
# prints average
print employment.std()
# prints standard deviation
print employment.max()
# prints highest employment rate
print employment.sum()
# prints the sum of all the employment rates

58.6850000385
9.33826911369
75.69999695
1173.70000077

In [11]:
# Write a function:

def max_employment(countries, employment):
    '''
    Takes as input (1) an array of countries and (2) an 
    array of the countries' employment levels. Returns 
    the country with the highest employment and that level.
    '''
    max_employment_index = employment.argmax()
    max_country = countries[max_employment_index]
    max_value = employment.max()
    
#     for i in range(0, len(countries)):
#         if employment[i] > max_value:
#             max_country = countries[i]
#             max_value = employment[i]

    return (max_country, max_value)

In [12]:
max_employment(countries, employment)

('Angola', 75.699996949999999)

In [13]:
# There has to be a shorter built in way to do this.

# np.argmax()
# returns the position where the maximum number is located.

countries[employment.argmax()]

'Angola'

In [14]:
# Arithmetic operations between 2 NumPy arrays

a = np.array([1, 2, 3, 4])
b = np.array([1, 2, 1, 2])

print a + b
# [2, 4, 4, 6]
print a - b
# [0, 0, 2, 2]
print a * b
# [1, 4, 3, 8]
print a / b
# [1, 1, 3, 2]
# what would happen with fractional results?
print a ** b
# [1, 4, 3, 16]

[2 4 4 6]
[0 0 2 2]
[1 4 3 8]
[1 1 3 2]
[ 1  4  3 16]

In [15]:
# Arithmetic operations between a NumPy array and a single number

a = np.array([1, 2, 3, 4])
b = 2

print a + b
# [3, 4, 5, 6]
print a - b
# [-1, 0, 1, 2]
print a * b
# [2, 4, 6, 8]
print a / b
# [0.5, 1.0, 1.5, 2.0]
print a ** b
# [1, 4, 9, 16]

[3 4 5 6]
[-1  0  1  2]
[2 4 6 8]
[0 1 1 2]
[ 1  4  9 16]

In [16]:
# Fractional results are rounded down to the nearest int.
# 1/2 = 0
# 3/2 = 1
# They do not become floats

In [17]:
# Logical operations with NumPy arrays

a = np.array([True, True, False, False])
b = np.array([True, False, True, False])

print a & b
# [True, False, False, False]
print a | b
# [True, True, True, False]
print ~a
# [False, False, True, True]

print a & True
# [True, True, False, False]
print a & False
# [False, False, False, False]

print a | True
# [True, True, True, True]
print a | False
# [True, True, False, False]

[ True False False False]
[ True  True  True False]
[False False  True  True]
[ True  True False False]
[False False False False]
[ True  True  True  True]
[ True  True False False]

In [18]:
# Comparison operations between two NumPy arrays

a = np.array([1, 2, 3, 4, 5])
b = np.array([5, 4, 3, 2, 1])

print a > b
# [False, False, False, True, True]
print a >= b
# [False, False, True, True, True]
print a < b
# [True, True, False, False, False]
print a <= b
# [True, True, True, False, False]
print a == b
# [False, False, True, False, False]
print a != b
# [True, True, False, True, True]

[False False False  True  True]
[False False  True  True  True]
[ True  True False False False]
[ True  True  True False False]
[False False  True False False]
[ True  True False  True  True]

In [19]:
# Comparison operations between a NumPy array and a single number

a = np.array([1, 2, 3, 4])
b = 2

print a > b
# [False, False, True, True]
print a >= b
# [False, True, True, True]
print a < b
# [True, False, False, False]
print a <= b
# [True, True, False, False]
print a == b
# [False, True, False, False]
print a != b
# [True, False, True, True]

[False False  True  True]
[False  True  True  True]
[ True False False False]
[ True  True False False]
[False  True False False]
[ True False  True  True]

In [20]:
# First 20 countries with school completion data
countries = np.array([
       'Algeria', 'Argentina', 'Armenia', 'Aruba', 'Austria','Azerbaijan',
       'Bahamas', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Bolivia',
       'Botswana', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Cape Verde'
])

# Female school completion rate in 2007 for those 20 countries
female_completion = np.array([
    97.35583,  104.62379,  103.02998,   95.14321,  103.69019,
    98.49185,  100.88828,   95.43974,   92.11484,   91.54804,
    95.98029,   98.22902,   96.12179,  119.28105,   97.84627,
    29.07386,   38.41644,   90.70509,   51.7478 ,   95.45072
])

# Male school completion rate in 2007 for those 20 countries
male_completion = np.array([
     95.47622,  100.66476,   99.7926 ,   91.48936,  103.22096,
     97.80458,  103.81398,   88.11736,   93.55611,   87.76347,
    102.45714,   98.73953,   92.22388,  115.3892 ,   98.70502,
     37.00692,   45.39401,   91.22084,   62.42028,   90.66958
])

In [21]:
def overall_completion_rate(female_completion, male_completion):
    '''
    The arguments are NumPy arrays giving the female 
    and male completion of each country in the same order,
    and the function returns a NumPy array of rates.
    '''
    return (female_completion + male_completion)/2.0

In [22]:
overall_completion = overall_completion_rate(female_completion, male_completion)
print overall_completion

[  96.416025  102.644275  101.41129    93.316285  103.455575   98.148215
  102.35113    91.77855    92.835475   89.655755   99.218715   98.484275
   94.172835  117.335125   98.275645   33.04039    41.905225   90.962965
   57.08404    93.06015 ]

In [23]:
# Standardizing Data

In [24]:
# First 20 countries with employment data
countries = np.array([
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
])

In [25]:
# Employment data in 2007 for those 20 countries
employment = np.array([
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
])

In [26]:
# Change this country name to change what country will be printed when you
# click "Test Run". Your function will be called to determine the standardized
# score for this country for each of the given 5 Gapminder variables in 2007.
# The possible country names are available in the Downloadables section.

country_name = 'United States'

def standardize_data(values):
    '''
    This function takes as input a NumPy array of values, and 
    returnas a standardized version of the given values, in a 
    NumPy array. Each value denotes the number of standard 
    deviations that value is away from the mean of the data.
    (A positive number indicates a value higher than the mean, and a negative
    number indicates a value lower than the mean.)
    '''
    result = (values - values.mean()) / values.std()
    return result

In [27]:
standardize_data(employment)

array([-0.31965231, -0.780123  , -0.87650077,  1.82207181, -0.03051941,
       -1.99019768,  0.30144772, -0.16973184,  0.23719615,  0.84758731,
        0.18365304,  1.00821665,  0.87971351, -0.56595055, -1.07996476,
       -0.20185762,  1.38301845, -0.03051941,  1.2545153 , -1.87240259])

In [28]:
# Using index arrays

a = np.array([1,2,3,4])
b = np.array([True, True, False, False])

print a[b]
# [1,2]
print a[np.array([True, False, True, False])]
# [1,3]

[1 2]
[1 3]

In [29]:
# Creating the index array using vectorized operations

a = np.array([1,2,3,2,1])
b = (a >= 2)

print a[b]
# so b is a vector where it becomes T/F based on the criteria
# [2,3,2]
print a[a >= 2]
# [2,3,2]

[2 3 2]
[2 3 2]

In [30]:
# Creating the index array using vectorized operations on another array

a = np.array([1,2,3,4,5])
b = np.array([1,2,3,2,1])

print b == 2
# [False, True, False, True, False]
print a[b==2]
# [2, 4]

[False  True False  True False]
[2 4]

In [31]:
def mean_time_for_paid_students(time_spent, days_to_cancel):
    '''
    This function calculates the mean time spent in the classroom
    for students who stay enrolled at least 7 days.
    It takes as input two NumPy arrays-- one containing the amount
    of time spent in the classroom for each student, and 
    the other containing the number of days until each student cancel. 
    The data is given in the same order in both arrays.
    '''
    enrolled_at_least_one_week = (days_to_cancel >= 7)
    return time_spent[enrolled_at_least_one_week].mean()

# Time spent in the classroom in the first week for 20 students
time_spent = np.array([
       12.89697233,    0.        ,   64.55043217,    0.        ,
       24.2315615 ,   39.991625  ,    0.        ,    0.        ,
      147.20683783,    0.        ,    0.        ,    0.        ,
       45.18261617,  157.60454283,  133.2434615 ,   52.85000767,
        0.        ,   54.9204785 ,   26.78142417,    0.
])

# Days to cancel for 20 students
days_to_cancel = np.array([
      4,   5,  37,   3,  12,   4,  35,  38,   5,  37,   3,   3,  68,
     38,  98,   2, 249,   2, 127,  35
])

mean_time_for_paid_students(time_spent, days_to_cancel)

41.054003485454537

+= operates in place, while + does not.
+= stores changes to the variable.
= allows you to create new arrays.

In [36]:
a = np.array([1,2,3,4])
b = a
a = a + np.array([1,1,1,1])
print b
print a

[1 2 3 4]
[2 3 4 5]

Slice:
slice is a built in function that shows a view of the array.
however, it doesn't create a new array, because
if you modify,it's done forever. it 
doesn't work like a Python list. **It changes the current array.

In [38]:
a = np.array([1,2,3,4,5])
slice = a[:3]
slice[0] = 100
print a

[100   2   3   4   5]

#12-- Pandas Series

In [39]:
import pandas as pd

countries = ['Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
             'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
             'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
             'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia']

life_expectancy_values = [74.7,  75. ,  83.4,  57.6,  74.6,  75.4,  72.3,  81.5,  80.2,
                          70.3,  72.1,  76.4,  68.1,  75.2,  69.8,  79.4,  70.8,  62.7,
                          67.3,  70.6]

gdp_values = [ 1681.61390973,   2155.48523109,  21495.80508273,    562.98768478,
              13495.1274663 ,   9388.68852258,   1424.19056199,  24765.54890176,
              27036.48733192,   1945.63754911,  21721.61840978,  13373.21993972,
                483.97086804,   9783.98417323,   2253.46411147,  25034.66692293,
               3680.91642923,    366.04496652,   1175.92638695,   1132.21387981]

In [40]:
# life expectancy and GDP data in 2007 for 20 countries
life_expectancy = pd.Series(life_expectancy_values)
gdp = pd.Series(gdp_values)

In [41]:
# Accessing elements and slicing
print life_expectancy[0]
# 74.7
print gdp[3:6]
# 562, 13495, 9388

74.7
3      562.987685
4    13495.127466
5     9388.688523
dtype: float64

In [43]:
# Looping
for country_life_expectancy in life_expectancy:
    print "Examining life expectancy: {}".format(country_life_expectancy)

Examining life expectancy: 74.7
Examining life expectancy: 75.0
Examining life expectancy: 83.4
Examining life expectancy: 57.6
Examining life expectancy: 74.6
Examining life expectancy: 75.4
Examining life expectancy: 72.3
Examining life expectancy: 81.5
Examining life expectancy: 80.2
Examining life expectancy: 70.3
Examining life expectancy: 72.1
Examining life expectancy: 76.4
Examining life expectancy: 68.1
Examining life expectancy: 75.2
Examining life expectancy: 69.8
Examining life expectancy: 79.4
Examining life expectancy: 70.8
Examining life expectancy: 62.7
Examining life expectancy: 67.3
Examining life expectancy: 70.6

In [44]:
# Pandas functions
print life_expectancy.mean()
print life_expectancy.std()
print gdp.max()
print gdp.sum()

72.87
6.21399947487
27036.4873319
182957.59833

In [46]:
# Vectorized operations and index arrays
a = pd.Series([1,2,3,4])
b = pd.Series([1,2,1,2])

print a + b
# [2,4,4,6]
print a * 2
# [2,4,6,8]
print a >= 3
# [False False True True]
print a[a>=3]
# [3,4]

0    2
1    4
2    4
3    6
dtype: int64
0    2
1    4
2    6
3    8
dtype: int64
0    False
1    False
2     True
3     True
dtype: bool
2    3
3    4
dtype: int64

In [119]:
def variable_correlation(variable1, variable2):
    '''
    Fill in this function to calculate the number of data points for which
    the directions of variable1 and variable2 relative to the mean are the
    same, and the number of data points for which they are different.
    Direction here means whether each value is above or below its mean.
    
    You can classify cases where the value is equal to the mean for one or
    both variables however you like.
    
    Each argument will be a Pandas series.
    
    For example, if the inputs were pd.Series([1, 2, 3, 4]) and
    pd.Series([4, 5, 6, 7]), then the output would be (4, 0).
    This is because 1 and 4 are both below their means, 2 and 5 are both
    below, 3 and 6 are both above, and 4 and 7 are both above.
    
    On the other hand, if the inputs were pd.Series([1, 2, 3, 4]) and
    pd.Series([7, 6, 5, 4]), then the output would be (0, 4).
    This is because 1 is below its mean but 7 is above its mean, and
    so on.
    '''
#     above_mean_var1 = variable1 >= variable1.mean()
#     above_mean_var2 = variable2 >= variable2.mean()
    
#     num_same_direction = sum(above_mean_var1 == above_mean_var2)
#     num_different_direction = variable1.count() - num_same_direction
    
    above_mean = (variable1 > variable1.mean()) &\
                    (variable2 > variable2.mean())
    below_mean = (variable1 < variable1.mean()) &\
                    (variable2 < variable2.mean())
    
    same_direction = above_mean | below_mean
    
    num_same_direction = same_direction.sum()
    num_different_direction = len(variable1) - num_same_direction
    
    return (num_same_direction, num_different_direction)

In [120]:
variable_correlation(life_expectancy, gdp)

(17, 3)

In [121]:
#if the first number is higher, then the two variables are positively correlated (both increase).
#if the second number is higher, then the two variables are negatively correlated (one increases, the other decreases).
#if they are fairly equal, it is a good assumption that the two variables have little correlation.

In [122]:
a = np.array([1,2,3,4])
b = pd.Series([1,2,3,4])

In [123]:
b.describe()

count    4.000000
mean     2.500000
std      1.290994
min      1.000000
25%      1.750000
50%      2.500000
75%      3.250000
max      4.000000
dtype: float64

In [124]:
# MAIN DIFFERENCE --- Pandas series have an index.

In [140]:
# Index Example:
# as numpy arrays, we have two arrays that hold separate variables:

# countries = np.array(['Albania', 'Algeria', 'Andorra', 'Angola'])
# life_expectancy= np.array([74.7, 75., 83.4, 57.6])

# TERMINOLOGY NOTE:
# countries[0] -- they will say 'the country 'Albania' is at index 0', and when calling it with brackets say that
# they are 'indexing into the array'. Can be confusing in Pandas

#in pandas, we create one series with an index...
life_expectancy = pd.Series([74.7, 75., 83.4, 57.6],
                           index = ['Albania',
                                    'Algeria',
                                    'Andorra',
                                    'Angola'])
life_expectancy

Albania    74.7
Algeria    75.0
Andorra    83.4
Angola     57.6
dtype: float64

In [131]:
# NumPy arrays are like souped-up Python lists.
# A Pandas series is like a cross between a list (stored in order and accessed by indexing)
# and a dictionary (can be looked up by the index).

In [135]:
# like a list:
life_expectancy[0]

74.700000000000003

In [136]:
#like a dictionary (*use .loc to find):
life_expectancy.loc['Angola']

57.600000000000001

In [137]:
# if you don't specify an index:
pd.Series([74.7, 75., 83.4, 57.6])

0    74.7
1    75.0
2    83.4
3    57.6
dtype: float64

In [138]:
# .iloc[], locates a number in the series by position (exactly like life_expectancy[0] does)
life_expectancy.iloc[0]

74.700000000000003

In [142]:
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Angola',
    'Argentina', 'Armenia', 'Australia', 'Austria',
    'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
    'Barbados', 'Belarus', 'Belgium', 'Belize',
    'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
]


employment_values = [
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076,
]

employment = pd.Series(employment_values, index= countries)

print employment

Afghanistan               55.700001
Albania                   51.400002
Algeria                   50.500000
Angola                    75.699997
Argentina                 58.400002
Armenia                   40.099998
Australia                 61.500000
Austria                   57.099998
Azerbaijan                60.900002
Bahamas                   66.599998
Bahrain                   60.400002
Bangladesh                68.099998
Barbados                  66.900002
Belarus                   53.400002
Belgium                   48.599998
Belize                    56.799999
Benin                     71.599998
Bhutan                    58.400002
Bolivia                   70.400002
Bosnia and Herzegovina    41.200001
dtype: float64

In [150]:
def max_employment_update(employment):
    '''
    Takes as input (1) panda series with values of employment as input and countries
    as the index. Returns the country with the highest employment and that level.
    '''
    max_country = employment.idxmax()
    max_value = employment[max_country]

    return (max_country, max_value)

In [151]:
max_employment_update(employment)

('Angola', 75.699996949999999)

In [ ]:
### 14:: Vectorized Operations and Series Indexes ####

In [160]:
# addition when indexes are the same

s1 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
s2 = pd.Series([10,20,30,40], index = ['a','b','c','d'])

print s1 + s2

a    11
b    22
c    33
d    44
dtype: int64

In [161]:
# indexes have same elements in a different order

s1 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
s2 = pd.Series([10,20,30,40], index = ['b','d','a','c'])

print s1 + s2

a    31
b    12
c    43
d    24
dtype: int64

In [167]:
# indexes overlap but do not have all the same elements

s1 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
s2 = pd.Series([10,20,30,40], index = ['c','d','e','f'])

print s1 + s2

sum_result = s1 + s2

a     NaN
b     NaN
c    13.0
d    24.0
e     NaN
f     NaN
dtype: float64

In [176]:
# indexes do not overlap at all

s1 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
s2 = pd.Series([10,20,30,40], index = ['e','f','g','h'])

s1 + s2

a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
g   NaN
h   NaN
dtype: float64

In [173]:
# dropping the NaN (not a number) values

sum_result.dropna()

c    13.0
d    24.0
dtype: float64

In [180]:
# Alternate solution: Treat missing values as 0s in the arrays before addition

s1 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
s2 = pd.Series([10,20,30,40], index = ['c','d','e','f'])

s1.add(s2, fill_value = 0)

a     1.0
b     2.0
c    13.0
d    24.0
e    30.0
f    40.0
dtype: float64

In [188]:
# Non Built In Calculatins (.apply())

#eg: cleaning states

states = pd.Series(['Alabama',
                    'CA',
                    'OH',
                    'Nevada'])

In [190]:
def clean_state(state):
    if len(state) == 2:
        return state
    elif state == 'Alabama':
        return 'AL'
    elif state == 'Alaska':
        return 'AK'
    elif state == 'Nevada':
        return 'NV'
   # ...

clean_states = states.apply(clean_state)

In [191]:
print clean_states

0    AL
1    CA
2    OH
3    NV
dtype: object

In [196]:
# another example

s = pd.Series([1,2,3,4])
def add_one(x):
    return x + 1

print s.apply(add_one)

0    2
1    3
2    4
3    5
dtype: int64

In [192]:
names = pd.Series([
    'Andre Agassi',
    'Barry Bonds',
    'Christopher Columbus',
    'Daniel Defoe',
    'Emilio Estevez',
    'Fred Flintstone',
    'Greta Garbo',
    'Humbert Humbert',
    'Ivan Ilych',
    'James Joyce',
    'Keira Knightley',
    'Lois Lane',
    'Mike Myers',
    'Nick Nolte',
    'Ozzy Osbourne',
    'Pablo Picasso',
    'Quirinus Quirrell',
    'Rachael Ray',
    'Susan Sarandon',
    'Tina Turner',
    'Ugueth Urbina',
    'Vince Vaughn',
    'Woodrow Wilson',
    'Yoji Yamada',
    'Zinedine Zidane'
])

In [216]:
def reverse_names(names):
    '''
    This function returns a new series where each name
    in the input series has been transformed from the format
    "Firstname Lastname" to "Lastname, FirstName".
    '''
    return names.apply(reverse)

def reverse(name):
    first = name.split()[0]
    last = name.split()[1]
    return "{0}, {1}".format(last, first)

In [217]:
reverse_names(names)

0             Agassi, Andre
1              Bonds, Barry
2     Columbus, Christopher
3             Defoe, Daniel
4           Estevez, Emilio
5          Flintstone, Fred
6              Garbo, Greta
7          Humbert, Humbert
8               Ilych, Ivan
9              Joyce, James
10         Knightley, Keira
11               Lane, Lois
12              Myers, Mike
13              Nolte, Nick
14           Osbourne, Ozzy
15           Picasso, Pablo
16       Quirrell, Quirinus
17             Ray, Rachael
18          Sarandon, Susan
19             Turner, Tina
20           Urbina, Ugueth
21            Vaughn, Vince
22          Wilson, Woodrow
23             Yamada, Yoji
24         Zidane, Zinedine
dtype: object

In [218]:
# # Plotting in Pandas

# as a list, numpy array, or pandas series:
#     import matplotlib.pyplot as plt
#     plt.hist(data)
    
# as a pandas series:
#     it is built in, so if you know data is a Series...
#     data.hist()
#     there really isn't much of a difference, but Pandas has
#     a more convenient wrapper.

In [225]:
import pandas as pd
import seaborn as sns

# The following code reads all the Gapminder data into Pandas DataFrames. You'll
# learn about DataFrames next lesson.

path = '/Lesson_2_NumpyPandas/'
employment = pd.read_csv('/employment_above_15.csv', index_col='Country')
female_completion = pd.read_csv(path + 'female_completion_rate.csv', index_col='Country')
male_completion = pd.read_csv(path + 'male_completion_rate.csv', index_col='Country')
life_expectancy = pd.read_csv(path + 'life_expectancy.csv', index_col='Country')
gdp = pd.read_csv(path + 'gdp_per_capita.csv', index_col='Country')

IOError: File /employment_above_15.csv does not exist

In [221]:
# The following code creates a Pandas Series for each variable for the United States.
# You can change the string 'United States' to a country of your choice.

employment_us = employment.loc['United States']
female_completion_us = female_completion.loc['United States']
male_completion_us = male_completion.loc['United States']
life_expectancy_us = life_expectancy.loc['United States']
gdp_us = gdp.loc['United States']

# Uncomment the following line of code to see the available country names
# print employment.index.values

# Use the Series defined above to create a plot of each variable over time for
# the country of your choice. You will only be able to display one plot at a time
# with each "Test Run".

KeyError: 'the label [United States] is not in the [index]'